.panel
  %h3
    = auto_link questionnaire.organization
    –
    = auto_link questionnaire
  .panel_contents
    .columns.clearfix
      .column
        .attributes_table.narrow
          %table
            %tbody
              %tr
                %th=t '.table.days_elapsed_header'
                %td=t '.table.days', count: questionnaire.days_elapsed
              %tr
                %th=t '.table.days_left_header'
                %td=t '.table.days', count: questionnaire.days_left
              %tr
                %th=t '.table.summary_report_header'
                %td
                  = link_to t('.table.view'), admin_dashboard_summary_path(id: questionnaire)
              %tr
                %th=t '.table.download_raw_header'
                %td
                  - %w(csv tsv xls xlsx).each do |format|
                    = link_to format, admin_dashboard_raw_path(id: questionnaire, format: format)
