.graph div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.bar rect {
  fill: #ccc;
  shape-rendering: crispEdges;
}

.bar rect.default {
  fill: #666;
}

.bar rect.median {
  fill: #3498db;
}

.bar text {
  fill: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid .tick {
  stroke: white;
}

.grid .path {
  stroke-width: 0;
}
